VITE_IDENTITY_SVC_URL=http://localhost:3001
VITE_ORDER_GW_URL=http://localhost:3002
VITE_STOCK_SVC_URL=http://localhost:3003
VITE_KITCHEN_QUEUE_URL=http://localhost:3004
VITE_NOTIFICATION_HUB_URL=http://localhost:3005
